<a class="curiosity-navigation curiosity-navigation--weapon" [routerLink]="['/weapon']" routerLinkActive="active" ariaCurrentWhenActive="page">
  <span class="curiosity-navigation__top-border"></span>
  <span>[-] Weapon</span>
</a>

<a class="curiosity-navigation curiosity-navigation--vitality" [routerLink]="['/vitality']" routerLinkActive="active" ariaCurrentWhenActive="page">
  <span class="curiosity-navigation__top-border"></span>
  <span>[-] Vitality</span>
</a>

<a class="curiosity-navigation curiosity-navigation--spirit" [routerLink]="['/spirit']" routerLinkActive="active" ariaCurrentWhenActive="page">
  <span class="curiosity-navigation__top-border"></span>
  <span>[-] Spirit</span>
</a>

<div class="curiosity-navigation__bottom-border"></div>